<h1 class="title">Tire Hotel</h1>
<p>Please select warehouse:</p>

<% @warehouses.each do |warehouse| %>
<ul><%= link_to warehouse.location, warehouse_path(warehouse), class:'button is-large is-fullwidth mainbtn' %></ul>
<% end %>
